Package: open-semantic-etl
Version: 20.01.17
Section: misc
Priority: optional
Architecture: all
Depends: tika-server(>=0), python3-tika(>=0), curl(>=0), python3-pycurl(>=0), python3-rdflib(>=0), python3-sparqlwrapper(>=0), file(>=0), python3-requests(>=0), python3-pysolr(>=0), python3-dateutil(>=0), python3-lxml(>=0), python3-feedparser(>=0), poppler-utils(>=0), pst-utils(>=0),rabbitmq-server(>=0),python3-celery(>=0),python3-pyinotify(>=0),python3-pip(>=0), python3-dev(>=0), build-essential(>=0), libssl-dev(>=0), libffi-dev(>=0), scantailor(>=0), tesseract-ocr(>=0), tesseract-ocr-deu(>=0)
Installed-Size: 100
Maintainer: Markus Mandalka <debian@mandalka.name>
Homepage: https://opensemanticsearch.org/
Description: Crawler to index files and directories to Solr
 Index your files to Solr.
 If tesseract-ocr installed there will be character recognition on images.
 Hint: install ocr language files like tesseract-ocr-deu for german texts.
 If poppler-utils installed there will be ocr for images inside pdf, too.
